.container {
  max-width: 1400px;
  margin: 0 auto;
}
section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}
section.secondary {
  background: #f8f8f8;
}

.secondary h2,
.secondary h3 {
  text-align: center;
}

body {
  font-family: Poppins, sans-serif;
  background-color: rgba(39, 32, 68, 1);
  margin: 0;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)),
    url("/src/images/cycling_formentor.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px 0;
}

header h1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 1;
  margin: 30px 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 0;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: white;
  color: rgba(39, 32, 68, 1);
  text-decoration: none;
  padding: 16px 32px;
  border-radius: 3px;
  display: inline-block;
  margin-top: 30px;
}
main {
  background-color: white;
}
main h2 {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 5px;
  text-align: left;
  margin: 0;
  color: #bebcc7;
  text-transform: uppercase;
}

main h3 {
  font-family: Poppins;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  text-align: left;
  margin-top: 0;
}
.img-responsive {
  width: 100%;
  margin-bottom: 0;
}
.description {
  text-align: justify;
}
.card {
  background-color: white;
}

.card h4 {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  margin: 0;
}

.card h5 {
  font-family: Poppins;
  font-size: 13px;
  font-weight: 700;
  line-height: 19.5px;
  text-align: left;
}

.card p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.card-content {
  padding: 20px;
}
.button {
  display: block;
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 16px 32px 16px 32px;
  background-color: #462cb2;
  text-align: center;
}
.card a {
  text-decoration: none;
}
.gallery h3 {
  text-align: center;
}
.gallery h2 {
  text-align: center;
}
footer {
  color: white;
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.8)
    ),
    url("/src/images/Sa-Calobra.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

footer ul {
  list-style-type: none;
  padding: 0;
}
footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
}
footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  opacity: 0.7;
}
footer a {
  text-decoration: none;
  color: white;
  opacity: 0.7;
}

footer a:hover {
  opacity: 1;
}
.grid {
  display: grid;
  grid-gap: 30px;
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}
.grid-3-columns-first-narow {
  grid-template-columns: 2fr 3fr 3fr;
}
.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}
.embed {
  width: 100%;
  aspect-ratio: 1/1;
}
@media (max-width: 1250px) {
  section {
    padding: 30px;
  }
  .grid-2-columns {
    grid-template-columns: 1fr;
  }
  .grid-3-columns {
    grid-template-columns: 1fr 1fr;
  }
  .img-responsive {
    display: block;
    margin: 0 auto;
    padding-bottom: 50px;
  }
  @media (max-width: 900px) {
    header {
      padding: 60px 0;
    }
    header h1 {
      font-size: 48px;
    }
    header h2 {
      font-size: 24px;
    }
    header h3 {
      font-size: 12px;
    }
    .grid {
      grid-gap: 15px;
    }
    .grid-2-columns,
    .grid-3-columns-first-narow,
    .grid-3-columns {
      grid-template-columns: 1fr;
    }
    section {
      padding: 30px;
    }
    .img-responsive {
      display: block;
      margin: 0 auto;
    }
  }
}
